[Unit]
Description={description}

[Service]
Type=simple
User={user}
Group={user}
WorkingDirectory={working_directory}
Environment=LANG=en_US.UTF-8
Environment=LC_ALL=en_US.UTF-8
Environment=LC_LANG=en_US.UTF-8
Environment=NODE_OPTIONS=--openssl-legacy-provider
ExecStart={command}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=always
